body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;


}

#jumboOne {
    background-image: url("../images/code.jpg");
    color:white;
    margin: 0;

}

#geolocation-results {
    background-color: black;
    margin: 0;
}

